{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Автобусные станции</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
</head>
<body>
<div class="container">
    <div class="row">
        <table class="u-full-width">
            <thead>
            <tr>
                <th>Name</th>
                <th>Street</th>
                <th>District</th>
            </tr>
            </thead>
            <tbody>
            {% for station in bus_stations %}
                <tr>
                    <td>{{ station.Name }}</td>
                    <td>{{ station.Street }}</td>
                    <td>{{ station.District }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">Нет данных для отображения.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div>
            {% if page.has_previous %}
                <a class="button button-primary" href="?page={{ page.previous_page_number }}">⟵</a>
            {% endif %}
            <a class="button disabled" href="">{{ page.number }}</a>
            {% if page.has_next %}
                <a class="button button-primary" href="?page={{ page.next_page_number }}">⟶</a>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>